<!DOCTYPE html>
<html>
    <head>
        <title>ErRun: Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="styles.css">
    </head>
    <script src="script.js"></script>
    <body>
        <!--Side menu-->
        <aside class="side-menu">
            <div class="side-container">
                <ul>
                    <li><button onClick="newTask()">New Task</button></li>
                    <li><button onClick="deleteTask()">Delete Task</button></li>
                    <li><button onClick="editTask()">Edit Task</button></li>
                </ul>
            </div>
        </aside>

        <!--Top header-->
       <header class="top-header">
            <button onClick="goToProfile()">
                <img src="/profilepic.jpg" alt="Profile Picture" class="profile-pic">
            </button>
       </header>

        <main class="main-content">
            <h1>Current Tasks:</h1>
            <button id="newTaskBtn" class="new-task-btn">+ New Task</button>

            <!--Task list container-->
            <div id="taskList" class="task-list">

            </div>
        </main>

        <!--Task Modal-->
        <div id="taskModal" class="modal">
            <div class="modal-content">
                <span id = "closeModal" class="close">&times;</span>
                <h2 id="modalTitle">Add Task</h2>
                    <form action="app.js"    id="taskForm">
                        <input type="hidden" id="taskId">
                        
                        <label for="taskTitle">Task Name:</label>
                        <input type="text" id="taskTitle" name="title" required>

                        <label for="taskOrigin">Point of Origin:</label>
                        <input type="text" id="taskOrigin" placeholder="e.g. Home">
                        
                        <label>Locations:</label>
                        <div id="locationsContainer">
                            <div class="location-input">
                                <input type="text" name="taskLocations[]" placeholder="Enter Location">
                                <button type="button" class="remove-location">-</button>
                            </div>
                        </div>
                        <button type="button" id="addLocationBtn" class="small-btn">+ Add Location</button>
                        
                        <label for="taskDuration">Duration (hrs):</label>
                        <input type="number" step="0.5" id="taskDuration" min="0">
                        
                        <label for="taskDate">Date:</label>
                        <input type="date" id="taskDate">

                        <label for="taskPriority">Priority:</label>
                        <select id="taskPriority">
                            <option>Low</option>
                            <option selected>Medium</option>
                            <option>High</option>
                        </select>
                        
                        

                        <button type="submit">Save Task</button>
                    </form>

            </div>
        </div>
        
    </body>
</html>